---
import Layout from "layouts/MainLayout.astro";

import { projects } from "~/utils/projects-data";
import ProjectCard from "components/ProjectCard.astro";

import { EmailForm } from "../components/EmailForm";

export const prerender = true;
---

<Layout
  title="BURST ✷: A showcase of student-made creative technical projects"
  description="Join us at the Patti & Rusty Rueff Galleries (in Pao Hall) on Sunday, December 8th from 2-6pm."
>
  <div class="flex flex-col min-w-screen font-mono">
    <div
      class="flex flex-col md:flex-row items-center justify-start md:h-screen mx-2 md:ml-32 my-10 md:my-0"
    >
      <div class="flex flex-col justify-center items-start w-11/12 md:w-1/2">
        <h1
          class="font-nimbus text-center md:text-left text-[90px] md:text-[200px] md:-mx-3 font-black tracking-widest leading-none w-full"
        >
          BURST
        </h1>
        <h2
          class="text-center md:text-left text-lg md:text-2xl font-semibold tracking-wider leading-none"
        >
          a showcase of student-made creative technical projects
        </h2>
        <div
          class="hidden md:flex md:flex-col gap-1 mx-auto md:mx-0 mt-6 text-base md:text-xl leading-none break-words"
        >
          <div class="flex flex-row items-center gap-2">
            <img src="/calendar.svg" class="w-5 md:w-6 pointer-events-none" />
            <time datetime="2024-12-06T14:00:00">
              Sunday, December 8th, 2–6pm
            </time>
          </div>
          <div class="flex flex-row items-center gap-2">
            <img src="/map-pin.svg" class="w-5 md:w-6 pointer-events-none" />
            <p>Patti & Rusty Rueff Galleries</p>
          </div>
        </div>
        <div class="hidden md:flex md:flex-col md:mx-0 md:mt-6 md:gap-1">
          <EmailForm client:load />
          <a
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=BURST✷&details=BURST+✷+is+a+4-hour+pop-up+gallery+exhibition+of+creative+technical+projects,+run+by+Purdue+Hackers.+Join+us+at+the+Rueff+Galleries+in+Pao+Hall.&location=Patti+and+Rusty+Rueff+School+of+Visual+and+Performing+Arts,+Pao+(Yue-Kong)+Hall+of+Visual+and+Performing+Arts,+552+W+Wood+St,+West+Lafayette,+IN+47907,+USA&ctz=America/Indianapolis&dates=20241208T190000Z/20241208T230000Z"
            target="_blank"
            class="text-center font-mono bg-white py-2 sm:px-2 font-bold hover:scale-105 transform transition
          disabled:opacity-50 disabled:hover:scale-100 text-black"
          >
            Add to Google Calendar
          </a>
        </div>
      </div>
      <div class="flex flex-col-reverse">
        <div class="flex flex-col-reverse gap-8 md:hidden">
          <EmailForm client:load />
          <a
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=BURST✷&details=BURST+✷+is+a+4-hour+pop-up+gallery+exhibition+of+creative+technical+projects,+run+by+Purdue+Hackers.+Join+us+at+the+Rueff+Galleries+in+Pao+Hall.&location=Patti+and+Rusty+Rueff+School+of+Visual+and+Performing+Arts,+Pao+(Yue-Kong)+Hall+of+Visual+and+Performing+Arts,+552+W+Wood+St,+West+Lafayette,+IN+47907,+USA&ctz=America/Indianapolis&dates=20241208T190000Z/20241208T230000Z"
            target="_blank"
            class="mt-5 text-center font-mono bg-white py-2 sm:px-2 font-bold hover:scale-105 transform transition
          disabled:opacity-50 disabled:hover:scale-100 text-black"
          >
            Add to Google Calendar
          </a>
        </div>
        <div
          class="md:hidden flex flex-col gap-1 mx-auto text-base leading-none break-words"
        >
          <div class="flex flex-row items-center gap-2">
            <img src="/calendar.svg" class="w-5 md:w-6 pointer-events-none" />
            <time datetime="2024-12-06T14:00:00">
              Sunday, December 8th, 2–6pm
            </time>
          </div>
          <div class="flex flex-row items-center gap-2">
            <img src="/map-pin.svg" class="w-5 md:w-6 pointer-events-none" />
            <p>Patti & Rusty Rueff Galleries</p>
          </div>
        </div>
        <canvas id="starCanvas" class="relative xl:ml-8"></canvas>
      </div>
    </div>
  </div>

  <div class="bg-white text-red">
    <div
      class="flex flex-col items-start md:items-center gap-y-4 justify-center w-11/12 sm:w-full max-w-5xl mx-auto"
    >
      <div class="font-mono mt-8 md:mt-24 flex flex-col gap-4">
        <h1 class="text-4xl md:text-8xl font-doto">WHAT IS THIS?</h1>
        <div class="max-w-3xl flex flex-col gap-4">
          <p>
            BURST ✷ is a 4-hour pop-up gallery exhibition of creative technical
            projects, run by{" "}<span
              ><a
                href="https://purduehackers.com"
                target="_blank"
                class="underline underline-offset-4 hover:bg-red hover:text-white"
                >Purdue Hackers</a
              ></span
            >.
          </p>
          <p>
            For 2 years, students in Purdue Hackers have been developing wacky,
            cutting-edge projects at Hack Night, our all-night hacker festival
            every Friday—but none have been seen by anyone outside Hack Night.
          </p>
          <p>
            On Sunday, December 8th, we’re installing these creations in the
            Rueff Galleries on campus in a first-of-its-kind exhibition for the
            broader campus community. They’ll only be up for 4 hours, then never
            all in the same room again. Blink and you’ll miss it.
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center my-12 text-4xl">✷</div>
    <h1 class="text-4xl md:text-8xl font-doto w-11/12 mx-auto md:text-center">
      FEATURED WORKS
    </h1>
    <div
      class="grid md:grid-cols-2 grid-cols-1 gap-x-2 mt-8 md:w-11/12 lg:max-w-6xl mx-auto"
    >
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
    <div class="w-full flex justify-center my-12 text-4xl">✷</div>
  </div>
  <script src="/src/utils/star-canvas"></script>
</Layout>
