---
// Your component script here!
const { project } = Astro.props;
---
<!-- HTML comments supported! -->
{/* JS comment syntax is also valid! */}

<!-- Use props and other variables from the component script: -->
<a class="w-full font-mono flex gap-4 py-2 items-center border-solid border-white border-b-[1px] hover:bg-white hover:text-red"
        href="">
    <div class="font-medium">{project.title}</div>
    <div>{project.creator}</div>
    <div class="font-sans">⇥</div>
</a>

<div class="hidden">{project.description}</div>

<!-- Use a template directive to build class names from multiple strings or even objects! -->
<p class:list={["add", "dynamic", {classNames: true}]} />