---
import { ViewTransitions } from "astro:transitions";

import "styles/global.css";

import { Head } from "astro-capo";
import { SEO } from "astro-seo";

const { title, description, og, twitter } = Astro.props;

export interface Props {
  title: string;
  description: string;
  og?: {
    title: string;
    description: string;
  };
  twitter?: {
    title: string;
    description: string;
  };
}
---

<!doctype html>
<html lang="en">
  <Head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="manifest" href="/manifest.json" />

    <meta name="apple-mobile-web-app-title" content="BURST" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#E6002A" />

    <meta name="theme-color" content="#E6002A" />

    <meta
      name="robots"
      content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />

    <SEO
      title={title}
      description={description}
      canonical="https://burst.purduehackers.com"
      openGraph={{
        basic: {
          type: "website",
          title: og && og.title ? og.title : title,
          image: `${import.meta.env.SITE}/opengraph.png`,
        },
        optional: {
          description: og && og.description ? og.description : description,
          locale: "en-US",
          siteName: "BURST ✷",
        },
        image: {
          // TODO: add alt text
          // alt: "",
          type: "image/png",
        },
      }}
      twitter={{
        title: twitter && twitter.title ? twitter.title : title,
        description:
          twitter && twitter.description ? twitter.description : description,
        image: `${import.meta.env.SITE}/opengraph.png`,
        // TODO: add alt text
        // imageAlt: "",
        card: "summary_large_image",
        site: "purduehackers",
        creator: "purduehackers",
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="author" content="Purdue Hackers" />
    <!-- TODO: add keywords -->
    <meta name="keywords" content="" />

    <ViewTransitions />
  </Head>
  <body
    class="flex flex-col bg-red text-white w-full max-w-full overflow-x-clip"
  >
    <slot />
  </body>
</html>
